
/* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 2vw;
    margin-top: 5vw;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    min-height: 100vh;
    background-image: url(52-1.png);
    color: white;
}

h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 4vw;
    margin-bottom: 1vw;
    text-align: left;
    position: relative;
    left: 1em;
    color: yellowgreen;
    line-height: 1em;
    padding: 2vw;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 1vw;
    color: yellowgreen;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 0.5vw;
    color: green;
}

p {
    font-size: 1.1em;
    margin-bottom: 1.5vw;
    line-height: 1.6;
}

p1 {
    font-size: 1.1em;
    color: yellowgreen;
    position: relative;
    line-height: 1em;
    top: 1em;
}

p2 {
    font-size: 1.1em;
    line-height: 1.2em;
    color: yellowgreen;
    position: absolute;
    top: 35vw;
    left: 12vw;
    right: 32vw;
}

h4 {
    color: yellowgreen;
    padding-bottom: 25vw;
    padding-top: 20vw;
    padding-left: 10vw;
    font-size: 3vw;
    line-height: 3vw;
}

section.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2vw;
}

section {
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    padding: 2vw;
}

section#keys,
section#micronutrients,
section#meal-timing,
section#hydration,
section#adjustments,
section#supplements {
    grid-column: span 1;
}

section#macronutrients {
    grid-column: span 2;
}

ul {
    list-style-type: disc;
    margin-left: 2vw;
}

.container::after {
    content: '';
    position: absolute;
    left: 12vw;
    top: 12.4vw;
    width: 0;
    height: 0;
    border-left: 3vw solid transparent;
    border-right: 3vw solid transparent;
    border-top: 4vw solid yellowgreen;
    position: absolute;
    bottom: -1.5vw;
    right: calc(50% - 2vw);
}

footer {
    background-color: yellowgreen;
    text-align: center;
    padding: 1vw 0;
    grid-column: span 2;
}

footer p {
    margin: 0;
}
