
body {
    margin: 10px;
    margin-top: 30; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    min-height: 100vh;
    background-image: url(52-1.png); 
    color: white; 
}
h1,
h2,
h3,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: white;
    padding: 30px;
}


h4 {
        color: yellowgreen;
        padding: 7em;
        font-size: 30pt;
        line-height: 28pt;
        
      }

  p2{
    font-size: 16pt;
    line-height: 17pt;
    color:yellowgreen;
    position: absolute;
    top:22em;
    left: 15em;
    right: 20em;
  }



h1 {
    font-size: 40pt;
    margin-bottom: 10px;
    text-align: left; 
    position: relative; 
    left: 1em;
    color: yellowgreen;
    line-height: 1em;
    padding: 5em;

}
p1{
    font-size: 16pt;
    color: yellowgreen;
    position:relative;
    line-height: 10pt;
    top:1em;
}

h2 {
    font-size: 1.8em;
    margin-bottom: 10px;
    color: yellowgreen;
}

h3 {
    font-size: 1.4em;
    margin-bottom: 5px;
    color: green;
}

p {
    font-size: 1.1em;
    margin-bottom: 15px;
    line-height: 1.6;
}

section.content {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

section {
    
    border-radius: 8px;
    box-shadow: 0 2px 10px black;
    padding: 20px;
}

section#keys,
section#micronutrients,
section#meal-timing,
section#hydration,
section#adjustments,
section#supplements {
    grid-column: span 1;
}

section#macronutrients {
    grid-column: span 2;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
}


footer {
    background-color: yellowgreen;
    text-align: center;
    padding: 10px 0;
    grid-column: span 2;
  }
  
  footer p {
    margin: 0;
  }