* Reset default margin and padding */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
body {
    margin: 2vw; 
    margin-top: 5vw; 
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-size: cover;
    min-height: 100vh;
    background-image: url(52-1.png);
    color: white;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2vw; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: vw; 
}

header {
    color: yellowgreen;
    padding: 10vw; 
    grid-column: span 2;
    font-size: 2vw; 
    text-align: left;
    width: 30vw;
}

header:after {
  content: '';
  position: absolute;
  left: 25em;
  top:10em;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 40px solid yellowgreen;
  position: absolute;
  bottom: -15px; /* Adjust as needed */
  right: calc(50% - 10px); /* Centered horizontally */
}

header h1 {
    font-size: 3.2vw; 
    margin-bottom: 1vw; 
}

header h2 {
    font-size: 2.4vw; 
    margin-bottom: 0.5vw; 
}

header p {
    font-size: 1.6vw; 
    margin-bottom: 1vw; 
}

section {
    padding: 2vw; 
    border-radius: 5px;
}

h2 {
    font-size: 2.4vw; 
    margin-bottom: 1vw; 
    color: yellowgreen;
}

h3 {
    font-size: 2vw; 
    margin-top: 2vw; 
    color: yellowgreen;
}

p {
    font-size: 1.6vw; 
    margin-bottom: 1vw; 
}

footer {
    background-color: yellowgreen;
    text-align: center;
    padding: 1vw 0; 
    grid-column: span 2;
}

footer p {
    margin: 0;
}

h4 {
    text-align: center;
    margin-top: 2vw; 
}